.traffic{
    &__container{
        background: #FFFFFF;
        box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.04), 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 4px 16px rgba(0, 0, 0, 0.06);
        border-radius: 20px;
        padding: 32px 32px 39px 32px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        @include media(576){
            padding: 24px 16px 32px 16px;
        }
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
        flex-wrap: wrap;
        &.gap-0{
            gap: 0;
        }
        input[type="checkbox"]{
            &:checked{
                &~.traffic__item{
                    &-title{
                        color: #168A80;
                    }
                    &-link{
                        color: #168A80;
                    }
                }
            }
        }
        &-label{
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: -0.02em;
            color: #0E322F;
            opacity: 0.6;
            margin-bottom: 2px;
        }
        &-input{
            position: relative;
            width: 100%;
            margin-bottom: 8px;
            input{
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: -0.02em;
                color: #0E322F;
                padding: 10px 16px;
                border: 1px solid rgba(#0E322F, 0.4);
                border-radius: 12px;
                width: 100%;
                padding: 10px 44px 10px 16px;
            }
            button{
                position: absolute;
                top: 50%;
                right: 14px;
                transform: translateY(-50%);
                line-height: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &-desc{
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: -0.02em;
            color: #0E322F;
            opacity: 0.8;
        }
        &-title{
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.02em;
            color: #C6C6C6;
            transition: 300ms ease-out;
        }
        &-link{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px; 
            letter-spacing: -0.02em;
            color: #C6C6C6;
            opacity: 0.6;
            transition: 300ms ease-out;
        }
    }
    &__btn{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 12px;
        margin-top: 12px;
        span{
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.02em;
            color: #168A80;
        }
    }
}