.withdraw{
    width: 100%;
    margin-bottom: 40px;
    @include media(576){
        margin-bottom: 32px;
    }
    &__content{
        background: #FFFFFF;
        box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.04), 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 4px 16px rgba(0, 0, 0, 0.06);
        border-radius: 20px;
        padding: 32px;
        @include media(576){
            padding: 24px 16px;
        }
    }
    &__p{
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #0E322F;
        margin-bottom: 2px;
    }
    &__price{
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 24px;
        letter-spacing: -0.02em;
        color: #1D1D1D;
    }
    &__desc{
        margin-top: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #0E322F;
        opacity: 0.7;
        @include media(576){
            margin-top: 16px;
        }
    }
}

.payouts{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.04), 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 4px 16px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    max-height: calc(100vh - 170px);
    &__content{
        overflow: auto;
    }
    &__top{
        display: flex;
        align-items: center;
        padding: 18px 40px 18px 28px;
        background: #E0EEED;
        border-radius: 20px 20px 0px 0px;
        @include media(992){
            display: none;
        }
        &-right{
            flex: 1 1 auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }  
    &__item{
        padding: 8px 36px 8px 28px;
        border-bottom: 1px solid #E1E1E1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 52px;
        @include media(992){
            padding: 24px 16px 20px 16px;
            align-items: flex-start;
        }
        @include media(359){
            padding: 14px 10px 10px 10px;
        }
    }
    &__left{
        display: flex;
        align-items: center;
        @include media(992){
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include media(992){
            flex-direction: column-reverse;
            justify-content: flex-end;
            align-items: flex-end;
            row-gap: 11px;
        }
    }
    &_1{
        width: 267px;
        @include media(1400){
            width: 200px;
        }
        @include media(992){
            width: max-content;
            margin-bottom: 4px;
        }
    }
    &_2{
        width: 100px;
        @include media(992){
            width: max-content;
            order: 2;
        }
    }
    &_3{
        width: 178px;
        text-align: right;
        @include media(1400){
            width: 110px;
        }
        @include media(992){
            width: max-content;
            margin-bottom: 8px;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: #1D1D1D;
        }
    }
    &_5{
        width: 135px;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        @include media(992){
            width: max-content;
        }
    }
    &__title{
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #0E322F80;
        &_dark{
            color: #0E322F;
        }
    }
    &__p{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #1D1D1D;
    }
    &__button{
        font-family: Jura !important;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: #0E322F;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 12px;
        border: 1px solid #E1E1E1;
        filter: drop-shadow(0px 8px 16px rgba(255, 201, 61, 0.02));
        border-radius: 8px;
        height: 36px;
        width: 223px;
        transition: 300ms ease;
        @include media(992){
            width: 161px;
            font-size: 14px;
            line-height: 18px;
        }
        @include media(359){
            font-size: 12px;
            column-gap: 5px;
            width: 130px;
        }
        &.disable-lg{
            @include media(992){
                display: none;
            }
        }
        &.enable-lg{
            display: none;
            @include media(992){
                display: flex;
            }
        }
        &:hover{
            background: #E9E9E9;
        }
    }
    &__btn{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: right;
        letter-spacing: -0.02em;
        color: #1D1D1D;
        height: 24px;
        width: 76px;    
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: right;
        transition: 300ms ease;
        &.bg{
            background: #E9E9E9;
            border-radius: 4px;
            &:hover{
                background: darken($color: #E9E9E9, $amount: 5);
            }
        }
        &.bg-green{
            background: #55CEBA;
            border-radius: 4px;
            &:hover{
                background: darken($color: #55CEBA, $amount: 9);
            }
        }
    }
}