mixin history()
    .history 
        p.home__title История операций
        .history__content 
            .history__header 
                .history__item_1.history__header-item Дата и время вывода
                .history__item_2.history__header-item Заработок
                .history__item_3.history__header-item Статус
            .history__list 
                .history__row
                    .history__item.history__item_1 
                        p 12.10.2022, 12:21:05
                    .history__item.history__item_2 
                        p 1 600 ₽
                    .history__item.history__item_3 
                        .history__item-status Заказано
                .history__row
                    .history__item.history__item_1 
                        p 12.10.2022, 12:21:05
                    .history__item.history__item_2 
                        p 1 600 ₽
                    .history__item.history__item_3 
                        .history__item-status Заказано
                .history__row
                    .history__item.history__item_1 
                        p 12.10.2022, 12:21:05
                    .history__item.history__item_2 
                        p 1 600 ₽
                    .history__item.history__item_3 
                        .history__item-status.green Оплачено
                .history__row
                    .history__item.history__item_1 
                        p 12.10.2022, 12:21:05
                    .history__item.history__item_2 
                        p 1 600 ₽
                    .history__item.history__item_3 
                        .history__item-status.green Оплачено
                .history__row
                    .history__item.history__item_1 
                        p 12.10.2022, 12:21:05
                    .history__item.history__item_2 
                        p 1 600 ₽
                    .history__item.history__item_3 
                        .history__item-status.green Оплачено
                .history__row
                    .history__item.history__item_1 
                        p 12.10.2022, 12:21:05
                    .history__item.history__item_2 
                        p 1 600 ₽
                    .history__item.history__item_3 
                        .history__item-status.green Оплачено
                .history__row
                    .history__item.history__item_1 
                        p 12.10.2022, 12:21:05
                    .history__item.history__item_2 
                        p 1 600 ₽
                    .history__item.history__item_3 
                        .history__item-status.green Оплачено
                .history__row
                    .history__item.history__item_1 
                        p 12.10.2022, 12:21:05
                    .history__item.history__item_2 
                        p 1 600 ₽
                    .history__item.history__item_3 
                        .history__item-status.green Оплачено
                .history__row
                    .history__item.history__item_1 
                        p 12.10.2022, 12:21:05
                    .history__item.history__item_2 
                        p 1 600 ₽
                    .history__item.history__item_3 
                        .history__item-status.green Оплачено
                .history__row
                    .history__item.history__item_1 
                        p 12.10.2022, 12:21:05
                    .history__item.history__item_2 
                        p 1 600 ₽
                    .history__item.history__item_3 
                        .history__item-status.green Оплачено
                .history__row
                    .history__item.history__item_1 
                        p 12.10.2022, 12:21:05
                    .history__item.history__item_2 
                        p 1 600 ₽
                    .history__item.history__item_3 
                        .history__item-status.green Оплачено
                .history__row
                    .history__item.history__item_1 
                        p 12.10.2022, 12:21:05
                    .history__item.history__item_2 
                        p 1 600 ₽
                    .history__item.history__item_3 
                        .history__item-status.green Оплачено
                .history__row
                    .history__item.history__item_1 
                        p 12.10.2022, 12:21:05
                    .history__item.history__item_2 
                        p 1 600 ₽
                    .history__item.history__item_3 
                        .history__item-status.green Оплачено
                .history__row
                    .history__item.history__item_1 
                        p 12.10.2022, 12:21:05
                    .history__item.history__item_2 
                        p 1 600 ₽
                    .history__item.history__item_3 
                        .history__item-status.green Оплачено

