mixin status-icons()
    <svg class="auth__step-success-icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="10" cy="10" r="10" fill="#24B09C"/>
        <path d="M6 10L9 13L14 7" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <svg class="auth__step-error-icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="10" cy="10" r="10" fill="#FF3D3D"/>
        <path d="M6 6L14 14M14 6L6 14" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

mixin form()
    .auth__step.active
        p.auth__step-text Мы пришлем вам на почту инструкцию по восстановлению пароля
        .auth__step-item.pass-recovery
            .auth__step-input.double 
                input(type="email" placeholder="Введите Email" autocomplete="email" required).input
                +status-icons 
            button(type="submit").auth__next Отправить письмо
      
                

doctype html 
html(lang="en") 
    head 
        meta(charset="UTF-8") 
        meta(http-equiv="X-UA-Compatible", content="IE=edge") 
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        link(rel="stylesheet", href="../css/style.min.css") 
        title Регистрация 
    body 
        .theme 
            include ../../components/sidebar.pug 
            +sidebar('guest')
            include ../../components/header.pug 
            +header('guest')
            .content 
                .auth   
                    a(href="login.html").auth__back.show 
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.33268 5.33337L6.66602 8.00004L9.33268 10.6667" stroke="#0E322F" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        span Вернуться к входу в ЛК
                    p.auth__title.solo Восстановление пароля
                    .auth__content 
                        form(action="#").auth__form.pass-recovery 
                            +form

                    a(href="#!").theme__link 
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.333 3H4.667C3.746 3 3 3.746 3 4.667V13" stroke="#0E322F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M13.5 21L15.167 17.667H19.334C20.254 17.667 21 16.92 21 16V7.667C21 6.746 20.254 6 19.333 6H7.667C6.746 6 6 6.746 6 7.667V16C6 16.92 6.746 17.667 7.667 17.667H11" stroke="#0E322F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10 10H17" stroke="#0E322F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10 14H14" stroke="#0E322F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        span Написать в техподдержку
        script(src="../js/app.min.js")