.home{
    flex: 1 1 auto;    
    width: calc(100% - 280px);
    @include media(1200){
        width: 100%;
    }
    &__breadcrumb{
        display: none;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 16px;
        gap: 10px;
        @include media(1200){
            display: flex;
        }
        &-item{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 6px;
            span{
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: #0E322F;                
            }
        }
    }
    &__title{
        font-family: 'Jura';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 24px;
        letter-spacing: -0.02em;
        color: #1D1D1D;
    }
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        gap: 32px 20px;
        margin-bottom: 40px;
        @include media(1400){
            flex-direction: column;
        }
    }
    &__col{
        width: calc(50% - 10px);
        @include media(1400){
            width: 100%;
        }
    }
    .users{
        width: 100%;
    }
}
.graph{
    max-width: 100%;
    &__content{
        background: #FFFFFF;
        padding: 15px 15px 0px 15px;
        box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.04), 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 4px 16px rgba(0, 0, 0, 0.06);
        border-radius: 20px;
        width: 100%;
        padding-bottom: 10px;
    }
    &__inner{
        overflow-x: auto;
        padding-bottom: 3px;
    }
    #chart{
        min-width: 480px;
    }
}
.balance{
    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }
    &__item{
        background: #FFFFFF;
        box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.04), 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 4px 16px rgba(0, 0, 0, 0.06);
        border-radius: 20px;
        padding: 36px 24px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 16px;
        width: calc(50% - 10px);
        @include media(768){
            width: 100%;
        }
        &-title{
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #0E322F;            
            margin-bottom: 2px;
        }
        &-p{
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: -0.02em;
            color: #1D1D1D;
        }
    }
}
.users{
    &__wrapper{        
        width: 100%;
        border-radius: 20px;
        background: #fff;
        border-radius: 20px;    
        overflow: hidden;
        box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.04), 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 4px 16px rgba(0, 0, 0, 0.06);
        // background: linear-gradient(180deg, #F4F4F4 88.14%, rgba(244, 244, 244, 0) 100%);
    }
    &__inner{
        width: 100%;
        height: 400px;
        overflow-y: auto;
    }
    &__content{
        position: relative;
    }
    &__header{
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: calc(100% - 1px);
        width: max-content;
        background: #E0EEED;
        padding: 20px 40px 20px 32px;
        height: 60px;
        &-item{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 6px;
        }
        &-btn{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 6px;
            p{
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: -0.02em;
                color: #0E322F;
                opacity: 0.8;
            }
        }
    }
    &__row{
        width: max-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px 20px 32px;
        min-width: calc(100% - 1px);
    }
    &__item{
        p{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.02em;
            color: #1D1D1D;            
        }
        &_1{
            min-width: 160px;
        }
        &_2{
            min-width: 248px;
        }
        &_3{
            min-width: 219px;
        }
        &_4{
            min-width: 278px;
        }
        &_5{
            min-width: 113px;
        }
    }
}
.tooltip{
    position: relative;
    &.left{
        .tooltip__content{
            left: 0;
        }
    }
    &.center{
        .tooltip__content{
            left: 50%;
            transform: translateX(-50%);
            &::before{
                content: '';
                position: absolute;
                top: -5px;
                left: 50%;
                transform: translateX(-50%);
                width: 10px;
                height: 5px;
                background: #FFFFFF;
                clip-path: polygon(50% 0, 0 100%, 100% 100%);
            }
        }
    }
    &.right{
        .tooltip__content{
            right: 0;
        }
    }
    &__content{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background: #FFFFFF;
        border-radius: 12px;
        padding: 12px 16px;
        max-width: 200px;
        top: calc(100% + 6px);
        opacity: 0;
        visibility: hidden;
        transition: 300ms ease-out;
        max-width: max-content;
        width: 200px;
        p{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            letter-spacing: -0.02em;
            color: #1D1D1D;
        }
    }
    &__button{
        line-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            &~.tooltip__content{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}