mixin graph()
    .graph.home__col
        p.home__title Статистика регистраций
        .graph__content
            .graph__inner
                #chart 

mixin graph-blocked() 
    .graph.home__col 
        p.home__title Статистика регистраций 
        .graph__content.clear 
            .graph__clear 
                p Здесь пока пусто 