mixin filter-svg()
    <svg width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 0L5.59808 4.5H0.401924L3 0Z" fill="#ACC1C0"/>
        <path d="M3 12L5.59808 7.5H0.401924L3 12Z" fill="#ACC1C0"/>
    </svg>

mixin user-item()
    .users__row 
        .users__item.users__item_1
            p 12.10.2022
        .users__item.users__item_2
            p Безумный доктор
        .users__item.users__item_3
            p 48
        .users__item.users__item_4
            p 00:48:20
        .users__item.users__item_5
            p 160 ₽

mixin partner-item()
    .users__row.partners__item-row 
        .users__item.partners__item_1
            input(type="checkbox").checkbox
            div.bg 
            a(href="edit.html") Константинопольский Константин Константинович
        .users__item.partners__item_2
            p 123521
        .users__item.partners__item_8
            p.inactive На паузе
        .users__item.partners__item_3
            p Aoket68
        .users__item.partners__item_4
            p artspace68@yandex.ru
        .users__item.partners__item_5
            p —
        .users__item.partners__item_6
            p —
        .users__item.partners__item_7
            p —
        .users__item.partners__item_8
            p A
        .users__item.partners__item_9
            p 43
        .users__item.partners__item_10
            p 14:21:22

mixin inactive-partner-item()
    .users__row.partners__item-row 
        .users__item.partners__item_1
            input(type="checkbox").checkbox
            div.bg 
            a(href="edit.html") Константинопольский Константин Константинович
        .users__item.partners__item_2
            p 123521
        .users__item.partners__item_8
            p.active Активен
        .users__item.partners__item_3
            p Aoket68
        .users__item.partners__item_4
            p artspace68@yandex.ru
        .users__item.partners__item_5
            p —
        .users__item.partners__item_6
            p —
        .users__item.partners__item_7
            p —
        .users__item.partners__item_8
            p A
        .users__item.partners__item_9
            p 43
        .users__item.partners__item_10
            p 14:21:22

mixin users()
    include ../tooltip.pug
    .users 
        p.home__title Таблица пользователей
        .users__wrapper 
            .users__inner 
                .users__content 
                    .users__header
                        .users__header-item.users__item_1
                            button(type="button").users__header-btn 
                                +filter-svg
                                p D0
                            +tooltip('Дата первого входа в игру', 'left')
                        .users__header-item.users__item_2
                            button(type="button").users__header-btn 
                                +filter-svg
                                p Ник игрока
                        .users__header-item.users__item_3
                            button(type="button").users__header-btn
                                +filter-svg
                                p Рейтинг
                            +tooltip('Текущий рейтинг игрока. Стартовый — 50', 'center')
                        .users__header-item.users__item_4
                            button(type="button").users__header-btn 
                                +filter-svg
                                p Время
                            +tooltip('сколько суммарно времени игрок провел в игре за последние 30 дней.', 'center')
                        .users__header-item.users__item_5
                            button(type="button").users__header-btn 
                                +filter-svg
                                p Заработок
                            +tooltip('сколько рублей партнерского дохода принес вам указанный игрок.', 'right')
                    .users__list 
                        +user-item()
                        +user-item()
                        +user-item()
                        +user-item()
                        +user-item()
                        +user-item() 
                        +user-item()
                        +user-item()
                        +user-item()
                        +user-item()
                        +user-item()
                        +user-item()
                        +user-item()
                        +user-item()
                        +user-item()
                        +user-item()
                        +user-item()
                        +user-item()
                        +user-item()
                        +user-item()

mixin users-blocked()
    .users 
        p.home__title Таблица пользователей
        .users__wrapper.clear
            .users__clear 
                p Здесь пока пусто

mixin partners()
    include ../tooltip.pug
    .users.partners 
        .partners__filter 
            .partners__filter-count 
                p Выбрано: 0
                button(type="button")
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 7L17 17M17 7L7 17" stroke="#8A8A8A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            button(type="button").partners__filter-btn Экспорт Excel
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 10H6C4.895 10 4 10.895 4 12V19C4 20.105 4.895 21 6 21H18C19.105 21 20 20.105 20 19V12C20 10.895 19.105 10 18 10H16" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 3V14" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.00098 6L12 3L15 6" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
        .users__wrapper 
            .users__inner 
                .users__content 
                    .users__header
                        .users__header-item.partners__item_1
                            button(type="button").users__header-btn 
                                +filter-svg
                                p Партнер
                        .users__header-item.partners__item_2
                            button(type="button").users__header-btn 
                                +filter-svg
                                p ID
                        .users__header-item.partners__item_8
                            button(type="button").users__header-btn 
                                +filter-svg
                                p Статус
                        .users__header-item.partners__item_3
                            button(type="button").users__header-btn
                                +filter-svg
                                p Ник
                        .users__header-item.partners__item_4
                            button(type="button").users__header-btn 
                                +filter-svg
                                p Email
                        .users__header-item.partners__item_5
                            button(type="button").users__header-btn 
                                +filter-svg
                                p R0
                        .users__header-item.partners__item_6
                            button(type="button").users__header-btn 
                                +filter-svg
                                p R7
                        .users__header-item.partners__item_7
                            button(type="button").users__header-btn 
                                +filter-svg
                                p R14
                        .users__header-item.partners__item_8
                            button(type="button").users__header-btn 
                                +filter-svg
                                p Рейтинг
                        .users__header-item.partners__item_9
                            button(type="button").users__header-btn 
                                +filter-svg
                                p Боев
                        .users__header-item.partners__item_10
                            button(type="button").users__header-btn 
                                +filter-svg
                                p Время
                    .users__list 
                        +inactive-partner-item()
                        +partner-item()
                        +partner-item()
                        +partner-item()
                        +inactive-partner-item()
                        +inactive-partner-item() 
                        +inactive-partner-item()
                        +inactive-partner-item()
                        +partner-item()
                        +partner-item()
                        +partner-item()
                        +partner-item()
                        +partner-item()
                        +partner-item()
                        +partner-item()
                        +partner-item()
                        +partner-item()
                        +partner-item()
                        +partner-item()
                        +partner-item()
        include ../pagination
        +pagination 