doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        link(rel="stylesheet", href="css/style.min.css") 
        title Страница партнерки 
    body 
        .wrapper 
            .popups 
                button(type="button" data-target="#tech-popup").popups__btn.popup-open Написать в техподдержку
                .popup#tech-popup
                    .popup-bg.popup-close
                    .popup__content
                        button(type="button").popup-close.popup-close-btn
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 10L22 22M22 10L10 22" stroke="#8A8A8A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        form(action="").popup__form 
                            h2.popup__title Написать в техподдержку
                            p.popup__p Если у вас возникли вопросы — вы можете задать их в этой форме, а так же запросить редактирование данных профиля
                            .auth__step-input  
                                textarea(placeholder="Вопрос").input.popup__textarea
                            button(type="submit" disabled).popup__btn Отправить письмо
        script(src="js/app.min.js")