doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        link(rel="stylesheet", href="css/style.min.css") 
        title Страница партнерки 
    body 
        .wrapper 
            .popups 
                button(type="button" data-target="#tech-popup").popups__btn.popup-open Написать в техподдержку
                button(type="button" data-target="#success-popup").popups__btn.popup-open Заявка отправлена
                button(type="button" data-target="#add-traffic-popup").popups__btn.popup-open Добавление источника трафика
                button(type="button" data-target="#request-cancel").popups__btn.popup-open Отклонит запрос
                button(type="button" data-target="#request-success").popups__btn.popup-open Запрос принят
                include ../components/popups 
                +popups 
                 
        script(src="js/app.min.js")