.chat{
    width: 100%;
    height: calc(100vh - 197px);
    border-radius: 20px;
    @include media(576){
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
        height: calc(100vh - 153px);
        border-radius: 20px 20px 0 0;
    }
    &-app{
        @include media(576){
            padding-bottom: 0 !important;   
            justify-content: flex-start !important;
        }
    }
    &__filter{
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include media(576){
            padding: 0 15px;
        }
        &-left{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 48px;
            height: 28px;
        }
        &-items{
            display: flex;
            align-items: stretch;
            justify-content: center;
            gap: 24px;
            height: 100%;
            border-bottom: 1px solid #B8B8B8;
            @include media(360){
               gap: 14px; 
            }
            &.dn-md{
                @include media(768){
                    display: none;
                }
            }
        }
        &-item{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.02em;
            color: #000000;
            &.active{
                margin-bottom: -1px;
                padding-bottom: -2px;
                border-bottom: 3px solid #168A80;
            }
        }
        &-right{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 32px;
            @include media(992){
                display: none;
            }
        }
        &-info{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
        }
    }
    &__inner{
        height: calc(100% - 40px);
        display: flex;
    }
    &__list{
        box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.04), 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 4px 16px rgba(0, 0, 0, 0.06);
        width: 280px; 
        height: 100%;
        background: #fff;
        border-radius: 20px 0 0 20px;
        z-index: 1;
        position: relative;
        overflow: hidden;
        &.scrolled{
            &::before{
                opacity: 0;
            }
        }
        &::before{
            content: '';
            transition: 300ms ease-out;
            position: absolute;
            bottom: calc(-100% + 190px);
            pointer-events: none;
            left: 0;
            width: 100%;
            z-index: 1;
            height: 100%;
            background: linear-gradient(0deg, #FFFFFF 81.67%, rgba(255, 255, 255, 0) 100%);
        }
        @include media(768){
            width: 100%;
        }
        @include media(576){
            border-radius: 20px 20px 0 0;
            width: calc(100% - 30px);
            margin-left: 15px;
        }
        &.hide-md{
            @include media(768){
                display: none;
            }
        }
        &-content{
            height: calc(100% - 56px);
            overflow-y: auto;
        }
        &-pagination{
            height: 58px;
            position: relative;
            z-index: 2;
            border-top: 1px solid #E1E1E1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px;
            gap: 10px;
            p{
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                letter-spacing: -0.02em;
                color: #1D1D1D;
            }
            &-button{
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 6px;
                cursor: pointer;
                &.disabled{
                    opacity: .5;
                    box-shadow: none;
                }
                &.prev{
                    svg{
                        transform: rotate(-180deg);
                    }
                }
            }
        }
    }
    &__item{
        padding: 16px;
        display: block;
        &:not(:last-of-type){
            border-bottom: 1px solid #E1E1E1;
        }
        &.active{
            background: #EFFCFB;
            position: relative;
            @include media(768){
                background: #fff;
            }
            &::before{
                content: '';
                position: absolute;
                top: 0;
                height: 100%;
                left: 0;
                width: 3px;
                background: #24B09C;
                @include media(768){
                    display: none;
                }
            }
        }
        &-id{
            font-weight: 400;
            width: max-content;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.02em;
            color: #727272;
            position: relative;
            margin-bottom: 6px;
            padding-left: 20px;
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                transform: translateY(-50%);
                left: 0;
            }
            &.yellow{
                &::before{
                    background: #FFC83D;
                }
            }
            &.green{
                &::before{
                    background: #168A80;
                }
            }
        }
        &-text{
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.02em;
            color: #1D1D1D;
            opacity: 0.8
        }
    }
    &__content{
        height: 100%;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        background: #E0EEED;
        border-radius: 0 20px 20px 0;
        @include media(768){
            border-radius: 20px;
        }
        &.hide-md{
            @include media(768){
                display: none;
            }
        }
    }
    &__messages{
        height: calc(100% - 56px);
        padding: 32px 8px 32px 24px;
        &-inner{
            padding-right: 16px;
            height: 100%;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            row-gap: 34px;
            align-items: flex-start;
        }
    }
    &__mess{
        background: #FFFFFF;
        border-radius: 4px 20px 20px 20px;
        max-width: 448px;
        padding: 24px;
        @include media(576){
            padding: 16px;
        }
        &.my-mess{
            background: #CAE0DF;
            border-radius: 20px 4px 20px 20px;
            align-self: flex-end;
        }
        &-p{
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.02em;
            color: #000000;
            margin-bottom: 6px;
        }
        &-data{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: right;
            letter-spacing: -0.02em;
            color: #727272;
        }
    }
    &__form{
        width: 100%;
        height: 56px;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.04), 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 4px 16px rgba(0, 0, 0, 0.06);
        border-radius: 0px 0px 20px 0px;
        @include media(768){
            border-radius: 0 0 20px 20px;
        }
        @include media(576){
            border-radius: 0;
        }
        &-input{
            width: calc(100% - 56px);
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.02em;
            color: #1D1D1D;
            padding: 10px 32px;
            border: none;
            &::placeholder{
                opacity: 0.5;
            }
            @include media(768){
                border-radius: 0 0 0 20px;
            }
        }
        &-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 56px;
            height: 56px;
            background: #FFC83D;
            border-radius: 0px 0px 20px 0px;
            @include media(576){
                border-radius: 0;
            }
        }
    }
}