.faq{
    &__body{
        padding: 100px 15px;
        @include media(576){
            padding: 64px 15px;
        }
    }
    &__title{
        font-family: 'Jura';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 52px;
        letter-spacing: -0.02em;
        color: #0E322F;
        margin-bottom: 48px;
        @include media(576){
            font-size: 24px;
            line-height: 26px;
            margin-bottom: 24px;
        }
    }
    .accordion{
        background: #EFEFEF;
        border-radius: 16px;
        &:not(:last-of-type){
            margin-bottom: 8px;
        }
        &__button{
            font-family: 'Jura';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 32px;
            padding: 16px 24px;
            background: #FFFFFF;
            border: 1px solid #C0C0C0;
            border-radius: 16px;
            letter-spacing: -0.02em;
            color: #0E322F;
            @include media(576){
                font-size: 18px;
                line-height: 22px;
            }
        }
        &__content{
            display: none;
            padding: 32px 24px 40px 24px;
            p{
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                color: #0E322F;
                @include media(576){
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
}