mixin faq()
    section.section.faq#faq 
        .faq__body.container 
            h2.faq__title Вопросы-ответы
            .accordion 
                .accordion__button Как прогресс игрока влияет на заработок?
                    .accordion__button-icon 
                .accordion__content 
                    p Вознаграждение партнера начисляется исходя из прогресса игрока. Прогресс занимает 30 календарных дней. Весь прогресс, который начинается с 31 дня и далее — не учитывается.
            .accordion 
                .accordion__button Как получить вознаграждение?
                    .accordion__button-icon 
                .accordion__content 
                    p Вознаграждение партнера начисляется исходя из прогресса игрока. Прогресс занимает 30 календарных дней. Весь прогресс, который начинается с 31 дня и далее — не учитывается.
            .accordion 
                .accordion__button Что необходимо для регистрации?
                    .accordion__button-icon 
                .accordion__content 
                    p Вознаграждение партнера начисляется исходя из прогресса игрока. Прогресс занимает 30 календарных дней. Весь прогресс, который начинается с 31 дня и далее — не учитывается.
