mixin faq()
    section.section.faq#faq 
        .faq__body.container 
            h2.faq__title Вопросы-ответы
            .accordion 
                .accordion__button Я могу приглашать друзей и знакомых?
                    .accordion__button-icon 
                .accordion__content 
                    p Нет, потому что мы ориентированы на долгосрочное сотрудничество с каждым партнером и "разовые" привлечения не интересны ни нам, ни вам. Сколько бы друзей/знакомых у вас ни было - их количество ограничено. Потому мы ориентируемся на владельцев сайтов, блогеров, игровых медиа и др. - у кого постоянный приток свежей, новой аудитории.
            .accordion 
                .accordion__button Как прогресс игрока влияет на заработок?
                    .accordion__button-icon 
                .accordion__content 
                    p Чтобы пресечь мотивированный трафик, эта информация не раскрывается.#[br]Но мы можем сказать, что, чем активнее ведет себя пользователь в игре и чем больше у него достижений - тем выше выплата.
            .accordion 
                .accordion__button Важно ли, чтобы привлеченный игрок совершал внутриигровые покупки?
                    .accordion__button-icon 
                .accordion__content 
                    p Нет, ни в одном из классов игрока, от Е до А, нет условий совершения внутриигровых покупок (доната).
            .accordion 
                .accordion__button Кто ваша целевая аудитория?
                    .accordion__button-icon 
                .accordion__content 
                    p Мужчины, проживающие в РФ, возможно и в странах СНГ, от 25 до 40 лет. Самым взрослым игрокам более 50, но их не много. #[br]В основном это любители тактических пошаговых игр. Людей, которые любят думать и анализировать.
            .accordion 
                .accordion__button После привлечения игрока, сколько ждать вознаграждения?
                    .accordion__button-icon 
                .accordion__content 
                    p На данный момент деньги выплачиваем один раз в месяц.#[br]Форма сотрудничества - пожизненная. То есть если вы привели игрока сегодня, а через пол года он перешел в категорию А-игроков, вы все равно получите вознаграждение.#[br]Привязки ко времени нет.
            .accordion 
                .accordion__button Достижения от Е до А суммируются?
                    .accordion__button-icon 
                .accordion__content 
                    p Да, суммируются. Если игрок дошел до категории В, например, то вы получаете выплату за Е, С и В, а не только за В.
