mixin footer()
    footer.footer   
        .footer__body.container 
            .footer__top
                .footer__content
                    p.footer__title Fantasy Hearts
                    a(href="https://fantasy-hearts.ru/?utm_source=fhpartners" target="_blank" rel="noreferrer").footer__button Перейти на сайт игры
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 8L14 12L10 16" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                .footer__social
                    p.footer__social-title Мы в соцсетях:
                    .footer__social-row 
                        a(href="#!" rel="noreferrer" target="_blank").footer__social-item 
                            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7679 0.13034C20.0326 0.0138252 20.3216 -0.0255723 20.6054 0.0161819C20.8891 0.057936 21.1573 0.179341 21.3825 0.36796C21.6077 0.556579 21.7819 0.805632 21.8871 1.0896C21.9923 1.37357 22.0248 1.68225 21.9812 1.98402C21.3536 6.3349 20.203 14.3076 19.5922 18.5397C19.55 18.8325 19.4375 19.1088 19.2658 19.3418C19.0941 19.5748 18.8689 19.7566 18.612 19.8697C18.3551 19.9827 18.0751 20.0232 17.7993 19.9873C17.5234 19.9513 17.2608 19.84 17.0371 19.6643C14.8764 17.9673 11.637 15.423 9.99226 14.1308C9.86534 14.0311 9.7605 13.9029 9.68515 13.7553C9.6098 13.6076 9.56577 13.4441 9.55617 13.2764C9.54658 13.1086 9.57165 12.9407 9.62962 12.7844C9.68759 12.6281 9.77705 12.4872 9.89167 12.3718C11.3987 10.8546 14.4004 7.83266 16.4655 5.75337C16.5142 5.70408 16.5438 5.63721 16.5486 5.56586C16.5534 5.4945 16.5331 5.42381 16.4915 5.36763C16.45 5.31144 16.3902 5.27382 16.324 5.26214C16.2578 5.25045 16.1899 5.26554 16.1336 5.30445C13.4856 7.14549 9.43021 9.96476 7.44262 11.3465C7.07013 11.6055 6.6515 11.7797 6.21293 11.8583C5.77437 11.9368 5.32531 11.918 4.89389 11.8029C3.79945 11.5113 2.22082 11.0905 0.815967 10.7162C0.59602 10.6576 0.399022 10.5266 0.253033 10.3417C0.107044 10.1568 0.0195092 9.92747 0.00289639 9.68645C-0.0137165 9.44543 0.0414402 9.20496 0.16051 8.9993C0.279579 8.79365 0.456489 8.63328 0.666041 8.54106C5.55649 6.38772 15.127 2.17403 19.7679 0.13034Z" fill="#B6D5D0"/>
                            </svg> 
            .footer__bot
                .footer__bot-list 
                    a(href="#!").footer__link Политика конфиденциальности 
                    a(href="#!").footer__link Политика cookies
                a(href="#!").footer__link Техническая поддержка
                