mixin header()
    header.header#header 
        .header__body.container 
            a(href="#!").header__logo
                .header__logo-img
                    img(src="@img/logo.png", alt="Партнерская программа" draggable="false")
                p.header__logo-title Партнерская<br>программа
            .header__menu 
                ul.header__list 
                    li.header__li 
                        a(href="#about").header__link Об игре 
                    li.header__li 
                        a(href="#whom").header__link Для кого
                    li.header__li 
                        a(href="#how").header__link Как это работает
                    li.header__li 
                        a(href="#leaderboard").header__link Таблица успеха
                    li.header__li 
                        a(href="#faq").header__link FAQ
                a(href="auth/login.html").header__logout Войти
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.163 21L18.607 20.012C19.421 19.832 20 19.11 20 18.277V5.76601C20 4.93301 19.421 4.21101 18.608 4.03101L14.164 3.04301C13.053 2.79601 12 3.64101 12 4.77901V19.265C12 20.402 13.053 21.247 14.163 21V21Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M15 10.98V12.98" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4 16V18.042C4 19.147 4.895 20.042 6 20.042H9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4 8V6C4 4.895 4.895 4 6 4H9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4 12H9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7 14L9 12L7 10" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            button.header__button 
                span.header__button-line