mixin leaderboard()
    section.section.leaderboard#leaderboard 
        .leaderboard__showcase 
            .leaderboard__moon 
                img(src="@img/moon.png", alt="" draggable="false")
        .leaderboard__content
            .leaderboard__header.container
                .leaderboard__header-body
                    h2.leaderboard__title Топ-10 вебмастеров
                    p.leaderboard__desc за май
            .leaderboard__list 
                .leaderboard__list-body.container
                    .leaderboard__list-item 
                        .leaderboard__list-item-left
                            .leaderboard__list-item-num
                                <svg width="38" height="42" viewBox="0 0 38 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19 2.3094L35.1865 11.6547V30.3453L19 39.6906L2.81347 30.3453L2.81347 11.6547L19 2.3094Z" fill="white" stroke="url(#paint0_linear_25_439)" stroke-width="4"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_25_439" x1="7.1" y1="4.08334" x2="40.77" y2="24.8494" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FFF177"/>
                                    <stop offset="0.979167" stop-color="#D99022"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                                span 1
                            .leaderboard__list-item-place 
                                <svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.305987 1.52994L1.91961 9.59806C1.96635 9.83177 2.17156 10 2.4099 10H11.5901C11.8284 10 12.0336 9.83177 12.0804 9.59806L13.694 1.52993C13.7894 1.05296 13.2166 0.734425 12.8618 1.06711L10.3946 3.38011C10.1818 3.57953 9.8443 3.55537 9.66215 3.32768L7.39043 0.488043C7.19027 0.23784 6.80973 0.23784 6.60957 0.488044L4.33785 3.32769C4.1557 3.55537 3.81817 3.57953 3.60545 3.38011L1.13825 1.06711C0.783387 0.734425 0.210592 1.05296 0.305987 1.52994Z" fill="url(#paint0_linear_24_373)"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_24_373" x1="7" y1="0" x2="7" y2="10" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FFE249"/>
                                    <stop offset="1" stop-color="#FFC24A"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                            p.leaderboard__list-item-name ID124199
                        p.leaderboard__list-item-balance 12 240 ₽
                    .leaderboard__list-item 
                        .leaderboard__list-item-left
                            .leaderboard__list-item-num
                                <svg width="38" height="42" viewBox="0 0 38 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19 2.3094L35.1865 11.6547V30.3453L19 39.6906L2.81347 30.3453L2.81347 11.6547L19 2.3094Z" fill="white" stroke="url(#paint0_linear_25_442)" stroke-width="4"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_25_442" x1="7.1" y1="4.08334" x2="40.77" y2="24.8494" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#D8D8D8"/>
                                    <stop offset="1" stop-color="#696969"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                                span 2
                            .leaderboard__list-item-place 
                            p.leaderboard__list-item-name ID142111
                        p.leaderboard__list-item-balance 12 190 ₽
                    .leaderboard__list-item 
                        .leaderboard__list-item-left
                            .leaderboard__list-item-num
                                <svg width="38" height="42" viewBox="0 0 38 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19 2.3094L35.1865 11.6547V30.3453L19 39.6906L2.81347 30.3453L2.81347 11.6547L19 2.3094Z" fill="white" stroke="url(#paint0_linear_25_444)" stroke-width="4"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_25_444" x1="7.1" y1="4.08334" x2="40.77" y2="24.8494" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FFA877"/>
                                    <stop offset="0.979167" stop-color="#8F4231"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                                span 3
                            .leaderboard__list-item-place 
                            p.leaderboard__list-item-name ID126221
                        p.leaderboard__list-item-balance 11 700 ₽
                    .leaderboard__list-item 
                        .leaderboard__list-item-left
                            .leaderboard__list-item-num
                                <svg width="38" height="42" viewBox="0 0 38 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.25 1.01036C18.7141 0.742414 19.2859 0.742414 19.75 1.01036L35.9365 10.3557C36.4006 10.6236 36.6865 11.1188 36.6865 11.6547V30.3453C36.6865 30.8812 36.4006 31.3764 35.9365 31.6443L19.75 40.9896C19.2859 41.2576 18.7141 41.2576 18.25 40.9896L2.06347 31.6443C1.59937 31.3764 1.31347 30.8812 1.31347 30.3453V11.6547C1.31347 11.1188 1.59937 10.6236 2.06347 10.3557L18.25 1.01036Z" stroke="white" stroke-opacity="0.2"/>
                                </svg>
                                span 4
                            .leaderboard__list-item-place 
                            p.leaderboard__list-item-name ID124211
                        p.leaderboard__list-item-balance 10 010 ₽
                    .leaderboard__list-item 
                        .leaderboard__list-item-left
                            .leaderboard__list-item-num
                                <svg width="38" height="42" viewBox="0 0 38 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.25 1.01036C18.7141 0.742414 19.2859 0.742414 19.75 1.01036L35.9365 10.3557C36.4006 10.6236 36.6865 11.1188 36.6865 11.6547V30.3453C36.6865 30.8812 36.4006 31.3764 35.9365 31.6443L19.75 40.9896C19.2859 41.2576 18.7141 41.2576 18.25 40.9896L2.06347 31.6443C1.59937 31.3764 1.31347 30.8812 1.31347 30.3453V11.6547C1.31347 11.1188 1.59937 10.6236 2.06347 10.3557L18.25 1.01036Z" stroke="white" stroke-opacity="0.2"/>
                                </svg>
                                span 5
                            .leaderboard__list-item-place 
                            p.leaderboard__list-item-name ID124922
                        p.leaderboard__list-item-balance 9 320 ₽
                    .leaderboard__list-item 
                        .leaderboard__list-item-left
                            .leaderboard__list-item-num
                                <svg width="38" height="42" viewBox="0 0 38 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.25 1.01036C18.7141 0.742414 19.2859 0.742414 19.75 1.01036L35.9365 10.3557C36.4006 10.6236 36.6865 11.1188 36.6865 11.6547V30.3453C36.6865 30.8812 36.4006 31.3764 35.9365 31.6443L19.75 40.9896C19.2859 41.2576 18.7141 41.2576 18.25 40.9896L2.06347 31.6443C1.59937 31.3764 1.31347 30.8812 1.31347 30.3453V11.6547C1.31347 11.1188 1.59937 10.6236 2.06347 10.3557L18.25 1.01036Z" stroke="white" stroke-opacity="0.2"/>
                                </svg>
                                span 6
                            .leaderboard__list-item-place 
                            p.leaderboard__list-item-name ID124153
                        p.leaderboard__list-item-balance 7 240 ₽
                    .leaderboard__list-item 
                        .leaderboard__list-item-left
                            .leaderboard__list-item-num
                                <svg width="38" height="42" viewBox="0 0 38 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.25 1.01036C18.7141 0.742414 19.2859 0.742414 19.75 1.01036L35.9365 10.3557C36.4006 10.6236 36.6865 11.1188 36.6865 11.6547V30.3453C36.6865 30.8812 36.4006 31.3764 35.9365 31.6443L19.75 40.9896C19.2859 41.2576 18.7141 41.2576 18.25 40.9896L2.06347 31.6443C1.59937 31.3764 1.31347 30.8812 1.31347 30.3453V11.6547C1.31347 11.1188 1.59937 10.6236 2.06347 10.3557L18.25 1.01036Z" stroke="white" stroke-opacity="0.2"/>
                                </svg>
                                span 7
                            .leaderboard__list-item-place 
                            p.leaderboard__list-item-name ID122114
                        p.leaderboard__list-item-balance 6 400 ₽
                    .leaderboard__list-item 
                        .leaderboard__list-item-left
                            .leaderboard__list-item-num
                                <svg width="38" height="42" viewBox="0 0 38 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.25 1.01036C18.7141 0.742414 19.2859 0.742414 19.75 1.01036L35.9365 10.3557C36.4006 10.6236 36.6865 11.1188 36.6865 11.6547V30.3453C36.6865 30.8812 36.4006 31.3764 35.9365 31.6443L19.75 40.9896C19.2859 41.2576 18.7141 41.2576 18.25 40.9896L2.06347 31.6443C1.59937 31.3764 1.31347 30.8812 1.31347 30.3453V11.6547C1.31347 11.1188 1.59937 10.6236 2.06347 10.3557L18.25 1.01036Z" stroke="white" stroke-opacity="0.2"/>
                                </svg>
                                span 8
                            .leaderboard__list-item-place 
                            p.leaderboard__list-item-name ID121521
                        p.leaderboard__list-item-balance 6 090 ₽
                    .leaderboard__list-item 
                        .leaderboard__list-item-left
                            .leaderboard__list-item-num
                                <svg width="38" height="42" viewBox="0 0 38 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.25 1.01036C18.7141 0.742414 19.2859 0.742414 19.75 1.01036L35.9365 10.3557C36.4006 10.6236 36.6865 11.1188 36.6865 11.6547V30.3453C36.6865 30.8812 36.4006 31.3764 35.9365 31.6443L19.75 40.9896C19.2859 41.2576 18.7141 41.2576 18.25 40.9896L2.06347 31.6443C1.59937 31.3764 1.31347 30.8812 1.31347 30.3453V11.6547C1.31347 11.1188 1.59937 10.6236 2.06347 10.3557L18.25 1.01036Z" stroke="white" stroke-opacity="0.2"/>
                                </svg>
                                span 9
                            .leaderboard__list-item-place 
                            p.leaderboard__list-item-name ID124121
                        p.leaderboard__list-item-balance 4 910 ₽
                    .leaderboard__list-item 
                        .leaderboard__list-item-left
                            .leaderboard__list-item-num
                                <svg width="38" height="42" viewBox="0 0 38 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.25 1.01036C18.7141 0.742414 19.2859 0.742414 19.75 1.01036L35.9365 10.3557C36.4006 10.6236 36.6865 11.1188 36.6865 11.6547V30.3453C36.6865 30.8812 36.4006 31.3764 35.9365 31.6443L19.75 40.9896C19.2859 41.2576 18.7141 41.2576 18.25 40.9896L2.06347 31.6443C1.59937 31.3764 1.31347 30.8812 1.31347 30.3453V11.6547C1.31347 11.1188 1.59937 10.6236 2.06347 10.3557L18.25 1.01036Z" stroke="white" stroke-opacity="0.2"/>
                                </svg>
                                span 10
                            .leaderboard__list-item-place 
                            p.leaderboard__list-item-name ID124642
                        p.leaderboard__list-item-balance 4 240 ₽