include intro.pug
include about.pug
include whom.pug
include how.pug
include faq.pug
include offer.pug
include leaderboard.pug

mixin main()
    .main 
        +intro
        +about
        +whom
        +how
        +leaderboard
        +faq
        +offer 