// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Nunito', sans-serif !important;
    scroll-behavior: smooth;
    scroll-margin: 85px;
    @include media(576){
        scroll-margin: 47px;
    }
    &:focus,
    &:active{
        outline: none;
    }
}
html,
body{
    height: 100%;
}
body.o-hidden{
    @include media(1200){
        overflow-y: hidden;
    }
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    position: absolute;
    cursor: pointer;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #313131;
    // border: 4px solid #fff;
    border: 0px solid #fff;
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #313131;
}
.wrapper{
    width: 100%;
    overflow-x: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
}
ul{
    list-style-type: none;
}
a{
    color: inherit;
    text-decoration: none;
}
input[type="checkbox"]{
    appearance: none;
    border: 1px solid #C6C6C6;
    border-radius: 4px;
    min-width: 16px;
    width: 16px;
    height: 16px;
    &:checked{
        background: url('../img/checked.png') center / cover no-repeat;
        border: none;
    }
}
.apexcharts-tooltip {
    background: #FFFFFF;
    padding: 6px 8px;
    border-radius: 12px;
    box-shadow: 0px 4px 16px 0px #0000000F, 0px 1px 2px 0px #0000000F, 0px 8px 32px 0px #0000000A;
    color: #1D1D1D;
}
.apexcharts-title-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.apexcharts-element-hidden{
    display: none;
}

.custom-select {
    position: relative;
    height: 56px;
    & select {
        display: none;
    }
}
.select{
    &-selected {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 16px;
        border: 1px solid #0E322F60;
        border-radius: 12px;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #0E322F;
        &.select-arrow-active{
            &:after {
                transform: rotate(180deg);
            }
        }
        &:after {
            content: "";
            position: absolute;
            top: 16px;
            right: 16px;
            width: 24px;
            height: 24px;
            background: url('../img/dropdown.png');
            transition: 300ms ease-out;
        }
    }
    &-items {
        position: absolute;
        top: calc(100% + 4px);
        left: 0;
        right: 0;
        z-index: 99;
        max-height: 268px;
        overflow-y: auto;
        padding: 8px;
        background: #FFFFFF;
        box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.04), 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 4px 16px rgba(0, 0, 0, 0.06);
        border-radius: 12px;
        div {
            cursor: pointer;
            border-radius: 12px;
            padding: 10px 16px;
            &:hover {
                background: rgba(14, 50, 47, 0.06);
            }
        }
    }
    &-hide {
        display: none;
    }
}


.theme{
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    @include media(1200){
        flex-direction: column;
    }
    &__header{
        background: #0E322F;
        width: 100%;
        display: none;
        padding: 8px;
        height: 48px;
        pointer-events: none;
        button, a, input, textarea, p, span{
            pointer-events: all;
        }
        @include media(1200){
            display: flex;
        }
        &.partner-header {
            display: flex;
            height: 116px;
            justify-content: flex-end;
            background: transparent;
            padding: 32px;
            z-index: 12;
            position: relative;
            @include media(1200){
                background: #0E322F;
                height: 48px;
                padding: 8px 12px;
            }
            .theme__header{
                &-left{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include media(1200){
                        display: none;
                    }
                }
                &-right{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    column-gap: 24px;
                    padding: 0;
                    margin-left: auto;
                    margin-right: 0;
                    @media (min-width: 1201px){
                        width: 100%;
                        max-width: 160px;
                    }
                    @include media(1200){
                        padding: 0 15px;
                        max-width: 100%;
                        width: 100%;
                        z-index: 51;
                        column-gap: 22px;
                    }
                    @include media(576){
                        padding: 0;
                    }
                }
                &-avatar{
                    padding: 2px;
                    line-height: 0;
                    min-width: 52px;
                    width: 52px;
                    height: 52px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    overflow: hidden;
                    background: linear-gradient(33.32deg, #24B09C 12.71%, #FFC83D 77.51%);
                    &.admin-avatar{
                        padding: 4px;
                        background: linear-gradient(150.67deg, #FFD7B390 18.57%, #F0A86590 90.66%);
                    }
                    @include media(1200){
                        min-width: 32px;
                        width: 32px;
                        height: 32px;
                        order: -1;
                        margin-right: auto;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                &-logout{
                    line-height: 0;
                    @include media(1200){
                        display: none;
                    }
                    svg{
                        stroke: #050505;
                        transition: 300ms ease-out;
                        @include media(1200){
                            stroke: #fff;
                            *{
                                opacity: 1;
                            }
                        }
                        *{
                            transition: 300ms ease-out;
                        }
                    }
                    &:hover{
                        svg{
                            stroke: #1D1D1D;
                            @include media(1200){
                                stroke: #fff;
                            }
                            *{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        &-menu{
            display: none;
            @include media(1200){
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                z-index: 50;
                background: #0E322F;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                padding: 80px 0 24px 0;
                opacity: 0;
                visibility: hidden;
                transition: 300ms ease-out;
                &.open{
                    opacity: 1;
                    visibility: visible;
                }
            }
            // &::before{
            //     @include media(360){
            //         content: '';
            //         position: absolute;
            //         bottom: 20%;
            //         left: 0;
            //         width: 100%;
            //         height: 392px;
            //         z-index: -1;
            //         background: url('../img/sidebar-background.png') center / cover no-repeat;   
            //     }
            // }
            &-top{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                row-gap: 4px;
            }
            &-bot{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                row-gap: 4px;
            }
            &-link{
                font-family: 'Jura';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 18px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                column-gap: 16px;
                letter-spacing: 0.02em;
                color: #FFFFFF;       
                height: 56px;         
                width: 100%;
                padding: 16px 24px;
                &.active{
                    background: #1C4643;
                    border-radius: 20px;
                }
            }
        }
        &-button {
            width: 20px;
            height: 20px;
            position: relative;
            border: none;
            outline: none;
            background: none;
            display: none;
            z-index: 51;
            @include media(1200) {
              display: block;
            }
            &.open {
                .theme__header-button-line,
                &::before {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(135deg);
                }
                &::after {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-135deg);
                }
            }
            &::before,
            &::after,
            &-line {
                transition: 0.5s;
                position: absolute;
                content: "";
                left: 0;
                width: 100%;
                height: 2px;
                background: white;
                border-radius: 1px;
            }
            &::before {
                top: 20%;
            }
            &::after {
                bottom: 20%;
            }
            &-line {
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &-logo{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 4px;
            &-img{
                width: 32px;
                height: 32px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            span{
                font-family: 'Jura';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 12px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
            }
        }
        &-notification{
            position: relative;
            z-index: 1;
            @include media(576){
                position: static;
            }
            &-btn{
                position: relative;
                min-width: 36px;
                width: 36px;
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
                svg{
                    stroke: #1D1D1D;
                    transition: 300ms ease-out;
                    @include media(1200){
                        stroke: #fff;
                    }
                }
                &.red{
                    &::before{
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        top: 6px;
                        right: 6px;
                        background: #FF3D3D;
                        border-radius: 50%;
                    }
                }
                &.active{
                    border-radius: 8px;
                    background: #F1F1F1;
                    @include media(1200){
                        svg{
                            stroke: #1D1D1D;
                        }
                    }
                    &~.theme__header-notification-content{
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }
                }
            }
            &-close{
                align-items: center;
                justify-content: flex-start;
                padding-left: 11px;
                column-gap: 6px;
                display: none;
                @include media(576){
                    display: flex;
                }
                *{
                    pointer-events: none;
                }
                span {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: #0E322F;
                }
            }
            &-title{
                display: none;
                @include media(576){
                    display: block;
                    margin-left: 15px;
                    font-family: 'Jura';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: -0.02em;
                    color: #1D1D1D;
                    margin-bottom: 24px;
                    margin-top: 16px;
                }
            }
            &-content{
                position: absolute;
                top: calc(100% + 8px);
                right: 0;
                width: 336px;
                height: 344px;
                background: #FFFFFF;
                box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.04), 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 4px 16px rgba(0, 0, 0, 0.06);
                border-radius: 20px;
                padding: 8px 4px 8px 0;
                transform: translateY(10px);
                transition: 300ms ease-out;
                opacity: 0;
                visibility: hidden;
                @include media(576){
                    position: fixed;
                    transform: translateY(0);
                    z-index: 49;
                    width: 100%;
                    height: calc(100% - 48px);
                    top: 48px;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    border-radius: 0px;
                    padding: 20px 0;
                }
            }
            &-list{
                overflow-y: auto;
                height: 100%;
                @include media(576){
                    height: calc(100% - 100px);
                }
            }
            &-li{
                padding: 16px;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #0E322F;  
                display: flex;
                align-items: center;
                justify-content: space-between;  
                column-gap: 5px;
                @include media(576){
                    &:first-of-type{
                        padding-top: 0;
                    }
                }
                &:not(:last-of-type){
                    border-bottom: 1px solid #E1E1E1;
                }
                span{
                    background: rgba(255, 61, 61, 0.1);
                    padding: 2px 6px;
                    border-radius: 6px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    color: #FF3D3D;                    
                }            
            }
        }
    }
    &__link{
        display: none;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        column-gap: 12px;
        @include media(1200){
            display: flex;
        }
        span{
            font-family: 'Jura';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.02em;
            color: #0E322F;
        }
    }
    .content{
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 15px 32px 32px 32px;
        @include media(1200){
            padding: 20px 15px 56px 15px;
        }
        @media (min-width: 1201px){
            width: 100%;
            max-width: 100%;
            &.min{
                padding: 0 15px;
                max-width: 670px !important;
                width: 100% !important;
            }
        }
    }
}

.save-btn{
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #0E322F;
    padding: 17px 24px;
    background: #FFC93D;
    box-shadow: 0px 8px 16px rgba(255, 201, 61, 0.02);
    border-radius: 12px;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.mt-0{
        margin-top: 0;
    }
    &.mt-small{
        margin-top: 20px;
    }
    @include media(576){
        width: 100%;
    }
    &:disabled{
        opacity: 0.6;
    }
}

.partners{
    height: calc(100vh - 165px);
    @include media(1200){
        height: calc(100vh - 209px);
    }
    .users__wrapper{
        height: calc(100% - 102px);
        flex: 0 1 auto;
        @include media(576){
            height: calc(100% - 160px);
        }
        @include media(360){
            height: calc(100% - 200px);
        }
    }
    .users__inner{
        height: 100%;
    }
    &__filter{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        margin-bottom: 12px;
        @include media(360){
            flex-direction: column;
            align-items: flex-start;
        }
        &-count{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 4px;
            p{
                font-family: 'Jura';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.02em;
                color: #0E322F;                
            }
            button{
                line-height: 0;
            }
        }
        &-btn{
            padding: 8px 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            font-family: 'Jura';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.02em;
            color: #0E322F;
            background: #FFFFFF;
            border: 1px solid rgba(14, 50, 47, 0.2);
            border-radius: 12px;
        }
    }
    &__item{
        &-row{
            &:not(:last-of-type){
                border-bottom: 1px solid #E1E1E1;
            }
        }
        &_1{
            width: 172px;
            min-width: 172px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            input{
                margin-left: -22px;
                margin-right: 8px;
                &+div.bg{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    transition: 300ms ease-out;
                }
                &:checked+div.bg{
                    background: #EFFCFB;
                }
            }
        }
        &_2{
            width: 79px;
            min-width: 79px;
        }
        &_3{
            width: 107px;
            min-width: 107px;
        }
        &_4{
            width: 194px;
            min-width: 194px;
        }
        &_5{
            width: 73px;
            min-width: 73px;
        }
        &_6{
            width: 73px;
            min-width: 73px;
        } 
        &_7{
            width: 82px;
            min-width: 82px;
        }
        &_8{
            width: 112px;
            min-width: 112px;
        }
        &_9{
            width: 89px;
            min-width: 89px;
        }
        &_10{
            width: 55px;
            min-width: 55px;
        }
    }
}

.blocked-acc-info{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 61, 61, 0.1);
    border-radius: 6px;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #FF3D3D;
    margin-right: auto;
    &.dn{
        display: none;
        @include media(1200){
            display: block;
            margin-bottom: 24px;
        }
    }
}
.pagination{
    padding-top: 24px;
    height: 48px;
    width: 100%;
    position: relative;
    z-index: 1;
    @include media(576){
        height: 88px;
        padding-top: 16px;
    }
    &__container{
        display: flex;
        justify-content: space-between;
        gap: 16px;
        @include media(576){
            flex-direction: column;
        }
    }
    &__p{
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #0E322F;
        opacity: 0.8;
    }
    &__content{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }
    &__btn{
        width: 24px;
        height: 24px;
        border-radius: 4px;
        transition: 300ms ease-out;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        color: #1D1D1D70;
        text-align: center;
        letter-spacing: -0.02em;
        &.active{
            background: #0E322F;
            color: #FFFFFF;
        }
        &:hover{
            background: #E0EEED;
        }
    }
    &__next,
    &__prev{
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        &.disabled{
            opacity: 0.5;
        }
    }
}

.log{
    padding: 20px 24px 16px 24px;
    border-bottom: 1px solid #E1E1E1;
    &__data{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #168A80;
        margin-bottom: 4px;
    }
    &__p{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #000000;        
    }
}