doctype html 
html(lang="en") 
    head 
        meta(charset="UTF-8") 
        meta(http-equiv="X-UA-Compatible", content="IE=edge") 
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        link(rel="stylesheet", href="../css/style.min.css") 
        title Главная 
    body 
        .theme 
            include ../../components/sidebar.pug 
            +sidebar('admin', '2')
            .home.h-100
                include ../../components/header.pug 
                +header('admin', '2')
                .content.container.chat-app        
                    .admin__heading
                        h1.admin__heading-title.home__title Сообщения
                        .home__breadcrumb 
                            a(href="#!").home__breadcrumb-item
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6667 14H3.33333C2.59667 14 2 13.4033 2 12.6667V3.33333C2 2.59667 2.59667 2 3.33333 2H12.6667C13.4033 2 14 2.59667 14 3.33333V12.6667C14 13.4033 13.4033 14 12.6667 14Z" stroke="#0E322F" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M2 10H4.92133C5.174 10 5.40467 10.1427 5.51733 10.3687L5.81533 10.9647C5.92867 11.1907 6.15933 11.3333 6.412 11.3333H9.588C9.84067 11.3333 10.0713 11.1907 10.184 10.9647L10.482 10.3687C10.5953 10.1427 10.826 10 11.0787 10H14" stroke="#0E322F" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                span Сообщения
                        .admin__heading-form 
                            form(action="#").admin__heading-input
                                input(type="text" placeholder="Найти партнера")
                                button(type='submit') 
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.7138 6.8382C18.1647 9.28913 18.1647 13.2629 15.7138 15.7138C13.2629 18.1647 9.28913 18.1647 6.8382 15.7138C4.38727 13.2629 4.38727 9.28913 6.8382 6.8382C9.28913 4.38727 13.2629 4.38727 15.7138 6.8382" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M19 19L15.71 15.71" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                    .chat 
                        .chat__filter 
                            .chat__filter-left  
                                .chat__filter-items 
                                    button(type="button").chat__filter-item.active Все
                                    button(type="button").chat__filter-item Новые
                                    button(type="button").chat__filter-item Открытые
                                    button(type="button").chat__filter-item Закрытые
                                    button(type="button").chat__filter-item Архив
                                .chat__filter-items.dn-md  
                                    button(type="button").chat__filter-item.active Сообщения
                                    button(type="button").chat__filter-item Запросы
                            .chat__filter-right
                                .chat__filter-info
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="6" cy="6" r="6" fill="#FFC83D"/>
                                    </svg>
                                    p — Открыто
                                .chat__filter-info
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="6" cy="6" r="6" fill="#168A80"/>
                                    </svg> 
                                    p — Закрыто
                        .chat__inner
                            .chat__list.scroll-detect-class   
                                .chat__list-content.scroll-detect
                                    a(href="inbox.html").chat__item 
                                        .chat__item-id.yellow ID123521 
                                        .chat__item-text Константинопольский Константин Константинович
                                    a(href="inbox.html").chat__item 
                                        .chat__item-id.yellow ID123521 
                                        .chat__item-text Константинопольский Константин Константинович
                                    a(href="inbox.html").chat__item 
                                        .chat__item-id.yellow ID123521 
                                        .chat__item-text Константинопольский Константин Константинович
                                    a(href="inbox.html").chat__item 
                                        .chat__item-id.yellow ID123521 
                                        .chat__item-text Константинопольский Константин Константинович
                                    a(href="inbox.html").chat__item.active 
                                        .chat__item-id.green ID123521 
                                        .chat__item-text Константинопольский Константин Константинович
                                    a(href="inbox.html").chat__item 
                                        .chat__item-id.green ID123521 
                                        .chat__item-text Константинопольский Константин Константинович
                                    a(href="inbox.html").chat__item 
                                        .chat__item-id.green ID123521 
                                        .chat__item-text Константинопольский Константин Константинович
                                    a(href="inbox.html").chat__item 
                                        .chat__item-id.green ID123521 
                                        .chat__item-text Константинопольский Константин Константинович
                                    a(href="inbox.html").chat__item 
                                        .chat__item-id.green ID123521 
                                        .chat__item-text Константинопольский Константин Константинович
                                    a(href="inbox.html").chat__item 
                                        .chat__item-id.green ID123521 
                                        .chat__item-text Константинопольский Константин Константинович
                                    a(href="inbox.html").chat__item 
                                        .chat__item-id.green ID123521 
                                        .chat__item-text Константинопольский Константин Константинович
                                    a(href="inbox.html").chat__item 
                                        .chat__item-id.green ID123521 
                                        .chat__item-text Константинопольский Константин Константинович
                                    a(href="inbox.html").chat__item 
                                        .chat__item-id.green ID123521 
                                        .chat__item-text Константинопольский Константин Константинович
                                    a(href="inbox.html").chat__item 
                                        .chat__item-id.green ID123521 
                                        .chat__item-text Константинопольский Константин Константинович
                                    a(href="inbox.html").chat__item 
                                        .chat__item-id.green ID123521 
                                        .chat__item-text Константинопольский Константин Константинович
                                    a(href="inbox.html").chat__item 
                                        .chat__item-id.green ID123521 
                                        .chat__item-text Константинопольский Константин Константинович
                                    a(href="inbox.html").chat__item 
                                        .chat__item-id.green ID123521 
                                        .chat__item-text Константинопольский Константин Константинович
                                    a(href="inbox.html").chat__item 
                                        .chat__item-id.green ID123521 
                                        .chat__item-text Константинопольский Константин Константинович
                                    a(href="inbox.html").chat__item 
                                        .chat__item-id.green ID123521 
                                        .chat__item-text Константинопольский Константин Константинович
                                .chat__list-pagination 
                                    a(href="#!").chat__list-pagination-button.prev.disabled
                                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L5 5L1 9" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    p Страница 1 из 12
                                    a(href="#!").chat__list-pagination-button.right
                                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L5 5L1 9" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                            .chat__content.hide-md  
                                .chat__messages
                                    .chat__messages-inner
                                        .chat__mess 
                                            p.chat__mess-p Добрый день! я хотел бы поменять инофрмацию о месте проживания, сможете помочь?
                                            p.chat__mess-data 7 июня в 19:30:21
                                        .chat__mess
                                            p.chat__mess-p Добрый день! я хотел бы поменять инофрмацию о месте проживания, сможете помочь?
                                            p.chat__mess-data 7 июня в 19:30:21
                                        .chat__mess.my-mess 
                                            p.chat__mess-p Здравствуйте, укажите новый адрес целиком. Страна, индекс, город, улица, дом
                                            p.chat__mess-data 7 июня в 19:31:03
                                        .chat__mess
                                            p.chat__mess-p Добрый день! я хотел бы поменять инофрмацию о месте проживания, сможете помочь?
                                            p.chat__mess-data 7 июня в 19:30:21
                                        .chat__mess.my-mess 
                                            p.chat__mess-p Здравствуйте, укажите новый адрес целиком. Страна, индекс, город, улица, дом
                                            p.chat__mess-data 7 июня в 19:31:03
                                .chat__action 
                                    p Действия с обращением:
                                    .chat__action-content 
                                        .chat__action-wrap
                                            button(type="submit").chat__action-btn Применить и закрыть
                                            button(type="submit").chat__action-btn Закрыть
                                            button(type="submit").chat__action-btn Отклонить
                                            button(type="submit").chat__action-btn В архив

                                form(action="#").chat__form 
                                    input(type="text" placeholder="Сообщение...").chat__form-input
                                    button(type="submit").chat__form-btn 
                                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.671 16.1987L14.0324 26.824C14.327 28.148 16.0857 28.4334 16.783 27.2707L27.7817 8.93869C28.383 7.93869 27.663 6.66669 26.4964 6.66669H5.76171C4.42437 6.66669 3.75504 8.28269 4.70037 9.22802L11.671 16.1987Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M27.786 7.41333L11.666 16.2" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                            



        script(src="../js/app.min.js")