doctype html 
html(lang="en") 
    head 
        meta(charset="UTF-8") 
        meta(http-equiv="X-UA-Compatible", content="IE=edge") 
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        link(rel="stylesheet", href="../css/style.min.css") 
        title Главная 
    body 
        .theme 
            include ../../components/sidebar.pug 
            +sidebar('admin', '2')
            .home 
                include ../../components/header.pug 
                +header('admin', '2')
                .content.container    
                    .admin__heading
                        h1.admin__heading-title.home__title Сообщения
                        .home__breadcrumb 
                            a(href="#!").home__breadcrumb-item
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6667 14H3.33333C2.59667 14 2 13.4033 2 12.6667V3.33333C2 2.59667 2.59667 2 3.33333 2H12.6667C13.4033 2 14 2.59667 14 3.33333V12.6667C14 13.4033 13.4033 14 12.6667 14Z" stroke="#0E322F" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M2 10H4.92133C5.174 10 5.40467 10.1427 5.51733 10.3687L5.81533 10.9647C5.92867 11.1907 6.15933 11.3333 6.412 11.3333H9.588C9.84067 11.3333 10.0713 11.1907 10.184 10.9647L10.482 10.3687C10.5953 10.1427 10.826 10 11.0787 10H14" stroke="#0E322F" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                span Сообщения
                    .home__row 
                        include ../../components/partner-home/balance.pug 
                        +balance 
                        include ../../components/partner-home/graph.pug 
                        +graph 
                    include ../../components/partner-home/users.pug 
                    +users 


        script(src="../js/app.min.js")