doctype html 
html(lang="en") 
    head 
        meta(charset="UTF-8") 
        meta(http-equiv="X-UA-Compatible", content="IE=edge") 
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        link(rel="stylesheet", href="../css/style.min.css") 
        title Главная 
    body 
        .theme 
            include ../../components/sidebar
            +sidebar('admin', '1')
            .home 
                include ../../components/header
                +header('admin', '1')
                .content.container    
                    .admin__heading
                        .home__breadcrumb.show  
                            a(href="chat.html").home__breadcrumb-item
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14 8L10 12L14 16" stroke="#0E322F" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                span Вернуться к списку 
                    include ../../components/partner-profile/profile
                    +profile-edit-blocked 
                    .home__row 
                        include ../../components/partner-profile/withdraw-info
                        +withdraw-info-edit  
                        include ../../components/partner-profile/traffic
                        +traffic-edit 
                    .home__fixed-buttons 
                        button(type="button").home__fixed-buttons_1 
                            span Активировать аккаунт
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" fill="white"/>
                            <path d="M18 12L7.5 18.0622L7.5 5.93782L18 12Z" stroke="#5C5C5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        button(type="button").home__fixed-buttons_2 
                            span Удалить партнера из системы


        script(src="../js/app.min.js")