doctype html 
html(lang="en") 
    head 
        meta(charset="UTF-8") 
        meta(http-equiv="X-UA-Compatible", content="IE=edge") 
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        link(rel="stylesheet", href="../css/style.min.css") 
        title Главная 
    body 
        .theme 
            include ../../components/sidebar.pug 
            +sidebar('admin', '1')
            .home 
                include ../../components/header.pug 
                +header('admin', '1')
                .content.container    
                    .admin__heading
                        .home__breadcrumb.show  
                            a(href="chat.html").home__breadcrumb-item
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14 8L10 12L14 16" stroke="#0E322F" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                span Вернуться к списку
                    include ../../components/partner-profile/profile.pug 
                    +profile-edit 
                    .home__row 
                        include ../../components/partner-profile/withdraw-info.pug 
                        +withdraw-info-edit  
                        include ../../components/partner-profile/traffic.pug 
                        +traffic-edit 
                    .home__fixed-buttons 
                        button(type="button").home__fixed-buttons_1 
                            span В архив
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M21 7H3C2.448 7 2 6.552 2 6V4C2 3.448 2.448 3 3 3H21C21.552 3 22 3.448 22 4V6C22 6.552 21.552 7 21 7Z" stroke="#5C5C5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9 11H15" stroke="#5C5C5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M20.667 7V19C20.667 20.105 19.772 21 18.667 21H5.33301C4.22801 21 3.33301 20.105 3.33301 19V7" stroke="#5C5C5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        button(type="button").home__fixed-buttons_2 
                            span Удалить партнера из системы


        script(src="../js/app.min.js")