doctype html 
html(lang="en") 
    head 
        meta(charset="UTF-8") 
        meta(http-equiv="X-UA-Compatible", content="IE=edge") 
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        link(rel="stylesheet", href="../css/style.min.css") 
        title Главная 
    body 
        .theme 
            include ../../components/sidebar.pug 
            +sidebar('admin', '3')
            .home.h-100
                include ../../components/header.pug 
                +header('admin', '3')
                .content.container    
                    .admin__heading
                        h1.admin__heading-title.home__title Выплаты
                        .home__breadcrumb 
                            a(href="#!").home__breadcrumb-item
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.33398 3.33333H14.0007" stroke="#0E322F" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M7.33398 7.99996H14.0007" stroke="#0E322F" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M1.91992 3.33333H4.74859" stroke="#0E322F" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M3.33333 4.74731V1.91931" stroke="#0E322F" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M7.33398 12.6667H14.0007" stroke="#0E322F" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M4.27583 7.05737C4.7965 7.57804 4.7965 8.42204 4.27583 8.9427C3.75517 9.46337 2.91117 9.46337 2.3905 8.9427C1.86983 8.42204 1.86983 7.57804 2.3905 7.05737C2.91117 6.5367 3.75517 6.5367 4.27583 7.05737" stroke="#0E322F" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M4.27583 11.724C4.7965 12.2447 4.7965 13.0887 4.27583 13.6093C3.75517 14.13 2.91117 14.13 2.3905 13.6093C1.86983 13.0887 1.86983 12.2447 2.3905 11.724C2.91117 11.2033 3.75517 11.2033 4.27583 11.724" stroke="#0E322F" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                span Список выплат
                    .maniki 
                        .maniki__top 
                            p.maniki__title.maniki__title_dark.maniki_1 Дата  и время вывода
                            p.maniki__title.maniki__title_dark.maniki_2 ID партнера
                            p.maniki__title.maniki_3 Заработок
                            .maniki__top-right 
                                p.maniki__title.maniki_4 Действие
                                p.maniki__title.maniki_5 Статус
                        .maniki__content
                            .maniki__item 
                                .maniki__left 
                                    p.maniki__p.maniki_1 12.10.2022, 12:21:05
                                    p.maniki__p.maniki_2 123532
                                    p.maniki__p.maniki_3 1 600 ₽    
                                .maniki__right 
                                    button(type="button").maniki__button.maniki_4 Подтвердить оплату 
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18 20H6C4.895 20 4 19.105 4 18V6C4 4.895 4.895 4 6 4H18C19.105 4 20 4.895 20 6V18C20 19.105 19.105 20 18 20Z" stroke="#0E322F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M12 8V16" stroke="#0E322F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M16 12H8" stroke="#0E322F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    .maniki_5 
                                        button(type="button").maniki__btn Заказано  
                            .maniki__item 
                                .maniki__left 
                                    p.maniki__p.maniki_1 12.10.2022, 12:21:05
                                    p.maniki__p.maniki_2 123532
                                    p.maniki__p.maniki_3 1 600 ₽    
                                .maniki__right 
                                    button(type="button").maniki__button.maniki_4 Подтвердить оплату 
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18 20H6C4.895 20 4 19.105 4 18V6C4 4.895 4.895 4 6 4H18C19.105 4 20 4.895 20 6V18C20 19.105 19.105 20 18 20Z" stroke="#0E322F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M12 8V16" stroke="#0E322F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M16 12H8" stroke="#0E322F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    .maniki_5 
                                        button(type="button").maniki__btn.bg Заказано
                            .maniki__item 
                                .maniki__left 
                                    p.maniki__p.maniki_1 12.10.2022, 12:21:05
                                    p.maniki__p.maniki_2 123532
                                    p.maniki__p.maniki_3 1 600 ₽    
                                .maniki__right 
                                    .maniki_5 
                                        button(type="button").maniki__btn.bg-green Оплачено 
                            .maniki__item 
                                .maniki__left 
                                    p.maniki__p.maniki_1 12.10.2022, 12:21:05
                                    p.maniki__p.maniki_2 123532
                                    p.maniki__p.maniki_3 1 600 ₽    
                                .maniki__right 
                                    .maniki_5 
                                        button(type="button").maniki__btn.bg-green Оплачено 
                            .maniki__item 
                                .maniki__left 
                                    p.maniki__p.maniki_1 12.10.2022, 12:21:05
                                    p.maniki__p.maniki_2 123532
                                    p.maniki__p.maniki_3 1 600 ₽    
                                .maniki__right 
                                    .maniki_5 
                                        button(type="button").maniki__btn.bg-green Оплачено 
                            .maniki__item 
                                .maniki__left 
                                    p.maniki__p.maniki_1 12.10.2022, 12:21:05
                                    p.maniki__p.maniki_2 123532
                                    p.maniki__p.maniki_3 1 600 ₽    
                                .maniki__right 
                                    .maniki_5 
                                        button(type="button").maniki__btn.bg-green Оплачено 
                            .maniki__item 
                                .maniki__left 
                                    p.maniki__p.maniki_1 12.10.2022, 12:21:05
                                    p.maniki__p.maniki_2 123532
                                    p.maniki__p.maniki_3 1 600 ₽    
                                .maniki__right 
                                    .maniki_5 
                                        button(type="button").maniki__btn.bg-green Оплачено 
                            .maniki__item 
                                .maniki__left 
                                    p.maniki__p.maniki_1 12.10.2022, 12:21:05
                                    p.maniki__p.maniki_2 123532
                                    p.maniki__p.maniki_3 1 600 ₽    
                                .maniki__right 
                                    .maniki_5 
                                        button(type="button").maniki__btn.bg-green Оплачено 
                            .maniki__item 
                                .maniki__left 
                                    p.maniki__p.maniki_1 12.10.2022, 12:21:05
                                    p.maniki__p.maniki_2 123532
                                    p.maniki__p.maniki_3 1 600 ₽    
                                .maniki__right 
                                    .maniki_5 
                                        button(type="button").maniki__btn.bg-green Оплачено 
                            .maniki__item 
                                .maniki__left 
                                    p.maniki__p.maniki_1 12.10.2022, 12:21:05
                                    p.maniki__p.maniki_2 123532
                                    p.maniki__p.maniki_3 1 600 ₽    
                                .maniki__right 
                                    .maniki_5 
                                        button(type="button").maniki__btn.bg-green Оплачено 
                            .maniki__item 
                                .maniki__left 
                                    p.maniki__p.maniki_1 12.10.2022, 12:21:05
                                    p.maniki__p.maniki_2 123532
                                    p.maniki__p.maniki_3 1 600 ₽    
                                .maniki__right 
                                    .maniki_5 
                                        button(type="button").maniki__btn.bg-green Оплачено 
                            .maniki__item 
                                .maniki__left 
                                    p.maniki__p.maniki_1 12.10.2022, 12:21:05
                                    p.maniki__p.maniki_2 123532
                                    p.maniki__p.maniki_3 1 600 ₽    
                                .maniki__right 
                                    .maniki_5 
                                        button(type="button").maniki__btn.bg-green Оплачено 
                            .maniki__item 
                                .maniki__left 
                                    p.maniki__p.maniki_1 12.10.2022, 12:21:05
                                    p.maniki__p.maniki_2 123532
                                    p.maniki__p.maniki_3 1 600 ₽    
                                .maniki__right 
                                    .maniki_5 
                                        button(type="button").maniki__btn.bg-green Оплачено 
                            .maniki__item 
                                .maniki__left 
                                    p.maniki__p.maniki_1 12.10.2022, 12:21:05
                                    p.maniki__p.maniki_2 123532
                                    p.maniki__p.maniki_3 1 600 ₽    
                                .maniki__right 
                                    .maniki_5 
                                        button(type="button").maniki__btn.bg-green Оплачено 
                            .maniki__item 
                                .maniki__left 
                                    p.maniki__p.maniki_1 12.10.2022, 12:21:05
                                    p.maniki__p.maniki_2 123532
                                    p.maniki__p.maniki_3 1 600 ₽    
                                .maniki__right 
                                    .maniki_5 
                                        button(type="button").maniki__btn.bg-green Оплачено 
                            .maniki__item 
                                .maniki__left 
                                    p.maniki__p.maniki_1 12.10.2022, 12:21:05
                                    p.maniki__p.maniki_2 123532
                                    p.maniki__p.maniki_3 1 600 ₽    
                                .maniki__right 
                                    .maniki_5 
                                        button(type="button").maniki__btn.bg-green Оплачено 
                            .maniki__item 
                                .maniki__left 
                                    p.maniki__p.maniki_1 12.10.2022, 12:21:05
                                    p.maniki__p.maniki_2 123532
                                    p.maniki__p.maniki_3 1 600 ₽    
                                .maniki__right 
                                    .maniki_5 
                                        button(type="button").maniki__btn.bg-green Оплачено 
                            .maniki__item 
                                .maniki__left 
                                    p.maniki__p.maniki_1 12.10.2022, 12:21:05
                                    p.maniki__p.maniki_2 123532
                                    p.maniki__p.maniki_3 1 600 ₽    
                                .maniki__right 
                                    .maniki_5 
                                        button(type="button").maniki__btn.bg-green Оплачено 
                            .maniki__item 
                                .maniki__left 
                                    p.maniki__p.maniki_1 12.10.2022, 12:21:05
                                    p.maniki__p.maniki_2 123532
                                    p.maniki__p.maniki_3 1 600 ₽    
                                .maniki__right 
                                    .maniki_5 
                                        button(type="button").maniki__btn.bg-green Оплачено    

        script(src="../js/app.min.js")